<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsyiyi.testkotlin">

<!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.jsyiyi.kotlin.test.KotlinMain"
            >
        </activity>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jsyiyi.kotlin.test.KotlinScenod"/>
        <activity android:name=".SecondActivity"/>
        <!--动画首页-->
        <activity android:name="com.jsyiyi.javacode.animation.AnimationActivity"/>
        <!--属性动画-->
        <activity android:name="com.jsyiyi.javacode.animation.PropertyActivity"/>
        <!--视图动画-->
        <activity android:name="com.jsyiyi.javacode.animation.ViewAnimationActivity"/>
        <!--逐帧动画-->
        <activity android:name="com.jsyiyi.javacode.animation.FrameAnimationActivity"/>
        <!--转场动画-->
        <activity android:name="com.jsyiyi.javacode.animation.transitionanimation.TraActivity"/>
        <!--揭露动画-->
        <activity android:name="com.jsyiyi.javacode.animation.transitionanimation.RevealActivity"/>
        <!--多视图动画-->
        <activity android:name="com.jsyiyi.javacode.animation.transitionanimation.SceneActivity"/>
        <!--Activity跳转动画-->
        <activity android:name="com.jsyiyi.javacode.animation.transitionanimation.FirstActivity"/>
        <!--Activity跳转动画-->
        <activity android:name="com.jsyiyi.javacode.animation.transitionanimation.SecondActivity"/>
        <!--自定义视图-->
        <activity android:name="com.jsyiyi.javacode.customview.CustomViewActivity"/>
        <!--SurfaceView-->
        <activity android:name="com.jsyiyi.javacode.surfaceview.SurfaceViewActivity"/>
        <!--事件分发-->
        <activity android:name="com.jsyiyi.javacode.touchevent.TouchSystemActivity"/>
        <!--数据存储-->
        <activity android:name="com.jsyiyi.javacode.storage.StorageActivity"/>
        <!--SharePreference演示-->
        <activity android:name="com.jsyiyi.javacode.storage.ShareActivity"/>
        <!--外部存储演示-->
        <activity android:name="com.jsyiyi.javacode.storage.ExternalActivity"/>
        <!--内部存储演示-->
        <activity android:name="com.jsyiyi.javacode.storage.InternalActivity"/>
        <!--sqlite-->
        <activity android:name="com.jsyiyi.javacode.sqlite.SqliteActivity"/>
        <!--expandablelistview-->
        <activity android:name="com.jsyiyi.javacode.ExpandableListView.ExpandableListViewActivity"/>
        <!--广播BroadcastReceiver-->
        <activity android:name="com.jsyiyi.javacode.BroadcastReceiver.BroadcastReceiverActivity"/>
        <!--网络操作-->
        <activity android:name="com.jsyiyi.javacode.newwork.NetworkActivity"/>
        <!--handler使用-->
        <activity android:name="com.jsyiyi.javacode.handler.HandlerActivity"/>
        <!--handler使用下载-->
        <activity android:name="com.jsyiyi.javacode.handler.DownloadActivity"/>
        <!--handler使用打地鼠-->
        <activity android:name="com.jsyiyi.javacode.handler.DiglettActivity"/>
        <!--AsyncTask使用-->
        <activity android:name="com.jsyiyi.javacode.asynctask.AsyncTaskActivity"/>
        <!--Service使用-->
        <activity android:name="com.jsyiyi.javacode.service.ServiceActivity"/>
        <!--CardView使用-->
        <activity android:name="com.jsyiyi.javacode.CardView.CardViewActivity"/>
        <!--Okhttp使用-->
        <activity android:name="com.jsyiyi.javacode.okhttp.OkHttpActivity"/>
        <!--EventBus使用-->
        <activity android:name="com.jsyiyi.javacode.eventbus.EventBusActivity"/>
        <activity android:name="com.jsyiyi.javacode.eventbus.StickyActivity"/>
        <!--EventBus使用-->
        <!--RecycleView使用-->
        <activity android:name="com.jsyiyi.javacode.RecyclerView.RecyclerViewActivity"/>
        <!--Glide使用-->
        <activity android:name="com.jsyiyi.javacode.Glide.GlideActivity"/>
        <!--静态注册广播接收器-->
        <receiver android:name="com.jsyiyi.javacode.BroadcastReceiver.WcyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.jsyiyi.javacode.service.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jsyiyi.myservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>